.burgerIcon {
  display: none;
}

.container {
  height: 100vh;
}

.hand {
  display: inline-block;
  width: 70px;
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.sideBar {
  background-color: rgb(252, 252, 252);
  width: 100%;
  height: 100vh;
}

.welcome_text {
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 70px;
    text-transform: uppercase;
    text-align: left;
  }
}
