.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #99f1cc;
  position: absolute;
  bottom: 30px;
  right: 30px;
  .icon {
    width: 30px;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  0% {
    position: relative;
    bottom: 0px;
  }

  50% {
    position: relative;
    bottom: 10px;
  }

  100% {
    position: relative;
    bottom: 0px;
  }
}
