.case {
  width: 300px;
  height: 250px;
  background-color: #99f1cc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  .overlay {
    opacity: 0;
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all ease-in-out;
  }
  .active {
    opacity: 1 !important;
  }
}
